<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Signup</h1>
                    <h6>Register</h6>
                </div>
                <form>

                    <form [formGroup]="loginForm" (ngSubmit)="register(loginForm)" class="login-form">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email"  matInput [formControl]='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" matInput [formControl]='password' [type]="hide ? 'password':'text'"  class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                            <input type="password" matInput [formControl]='confirmPassword' [type]="hide ? 'password':'text'"  class="form-control" id="exampleInputPassword1">
                          </div>
                       
                        <button type="submit" class="btn btn-primary">Signup</button>
                      </form>
                </form>
                <a style="color: #000;" routerLink="/login">Hesabın var mı</a>
            </div>
        </div>
    </div>
</div>

