<nav class="navigation">
    <div class="navbar">
        <div class="left">
            <a mat-button routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
            <a mat-button routerLink="/product" routerLinkActive="active" class="nav-link">Product</a>
            <router-outlet></router-outlet>
        </div>
        <div class="right">
        <a  class="nav-link" >Logout</a>   
        </div>
    </div>
</nav>


<section>

</section>
<main class="main">

    <section class="container" >
        <router-outlet></router-outlet>
    </section>
</main>
<footer>

</footer>
