<nav class="navigation">
    <div class="navbar">
        <div class="left">
            <a *ngIf="showLogout" mat-button routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
            <a *ngIf="showLogout" mat-button routerLink="/product" routerLinkActive="active" class="nav-link">Product</a>
            <router-outlet></router-outlet>
        </div>
        <div class="right">
            <a *ngIf="showLogout" class="nav-link" (click)="logout()">Logout</a> 
        </div>
    </div>
</nav>


<section>

</section>
<main class="main">

    <section class="container" >
        <router-outlet></router-outlet>
    </section>
</main>
<footer>

</footer>
